import template from '../../components/templates/TaskInboxTemplate.html?raw';

export default {
  title: 'Templates/TaskInboxTemplate',
  parameters: {
    layout: 'fullscreen',
  },
};

export const Default = () => template;
