import template from '../../components/pages/TaskInboxPage.html?raw';

export default {
  title: 'Pages/TaskInboxPage',
  parameters: {
    layout: 'fullscreen',
  },
};

export const Default = () => template;
