import template from '../../components/organisms/TaskList.html?raw';

export default {
  title: 'Organisms/TaskList',
  parameters: {
    layout: 'padded',
  },
};

export const Default = () => template;
